<h1><%= @power.name.titleize %>!<br></h1>
<b><h3>Description:</h3></b> <%= @power.description.capitalize %><br>
<br>
<%= image_tag("https://nickusborne.com/wp-content/uploads/2017/07/girl-superpower.jpg") %>
